// Specific CSS for your home-page
.banner-image {
  background-image: url(cinemacool.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
}

p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}
