// Specific CSS for your home-page
.banner-image {
  background-image: url(cinemacool.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
}

p {
  color: white
}
